.navbar {
  height: auto;
  transition: padding 0.3s ease-in-out;
  padding: 1rem 0;
  background-color: rgba(159, 64, 64, 0.3);
  backdrop-filter: blur(10px);
  margin-bottom: 0 auto;
  z-index: 1050;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
  backdrop-filter: blur(10px);
  background-color: rgba(232, 19, 19, 0.6);
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  backdrop-filter: blur(10px);
}

.navbar-brand {
  font-size: 1.5rem;
  margin-right: auto;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 auto;
  border-radius: 5px;
  margin-right: 2rem;
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #f39c12;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #f39c12;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 991.98px) {
  .navbar-brand {
    font-size: 1.4rem;
  }
  .navbar {
    padding: 0.5rem 0;
  }
}

@media (max-width: 767.98px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  .navbar {
    font-size: 6px;
  }
}

.logo-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .logo-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  .logo-name {
    font-size: 12px;
  }
}

.nav-items,
.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f39c12;
}

@media screen and (max-width: 576px) {
  .nav-item {
    margin-left: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  .nav-item {
    margin-left: 5px;
    font-size: 8px;
  }
}

.search-form {
  display: flex;
  align-items: center;
}

.input-field {
  height: 25px;
  width: 120px;
  border-radius: 4px;
  padding: 8px;
  border: none;
  margin: 0 10px;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .input-field {
    font-size: 12px;
    width: 50px;
  }
}

@media screen and (max-width: 376px) {
  .input-field {
    font-size: 6px;
    width: 30px;
    height: 15px;
  }
}

.search-button {
  height: 40px;
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out 0s ;

}

.search-button:hover {
  background-color: #e67e22;
}

@media screen and (max-width: 576px) {
  .search-button {
    font-size: 8px;
    width: 40px;
    padding: 8px;
  }
}

@media screen and (max-width: 376px) {
  .search-button {
    font-size: 6px;
    width: 30px;
    padding: 5px;
    height: 29px;

  }
}


