/* Reset and General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #333;
}

body {
  font-family: sans-serif;
  background: linear-gradient(45deg, #f39c12, #e74c3c, #9b59b6, #3498db, #1abc9c, #f39c12);
  background-size: 400% 400%;
  animation: gradient 15s infinite;
}

.App {
  text-align: center;
  
}

.opacity-low {
  opacity: 0.5;
}

/* Container Styles */
.container {
  width: 100%;
  min-width: 100%;
  background-color: #5a5a5a;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;
}

.logo-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f39c12;
}

/* Search Form Styles */
.search-form {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.input-field {
  height: 25px;
  width: 120px;
  border-radius: 4px;
  padding: 8px;
  border: none;
  outline: none;
  transition: width 0.3s;
  margin-right: 10px;
  font-size: 16px;

}

.search-button {
  height: 40px;
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f39c12;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  
  
}

.search-button:hover {
  background-color: #e67e22;
}

/* Cards Container Styles */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #303030;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease-in-out;

}

/* Card Styles */
.cards {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #404347;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  
}

.cards:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  
}

.images {
  height: 250px;
  width: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;

}

/* Responsive Styles */
@media screen and (max-width: 576px) {
  .navbar {
    padding: 10px;
  }
  

  .logo-name {
    font-size: 16px;
  }

  .nav-item {
    margin-left: 10px;
  }

  .nav-link {
    font-size: 12px;
  }

  .input-field {
    font-size: 12px;
    width: 50px;
  }

  .search-button {
    font-size: 10px;
    width: 40px;
    padding: 8px;
  }

  .cards {
    width: calc(100% - 40px);
  }

  .images {
    height: 200px;
  }
}

@media screen and (max-width: 376px) {
  .navbar {
    padding: 5px;
  }

  .logo-name {
    font-size: 12px;
  }

  .nav-item {
    margin-left: 5px;
  }

  .nav-link {
    font-size: 8px;
  }

  .input-field {
    font-size: 6px;
    width: 30px;
    height: 15px;
  }

  .search-button {
    font-size: 6px;
    width: 30px;
    padding: 5px;
    height: 29px;
  }

  .cards {
    width: calc(100% - 20px);
  }

  .images {
    height: 150px;
  }
}

/* Footer Styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  animation: slideIn 1s ease-in-out;
  background-color: aliceblue;
  
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f75b49;
}

.footer-logo {
  margin-bottom: 20px;
}

.social-links {
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  margin: 0 20px;
  margin-bottom: 10px;
}

.contact-item span {
  margin-right: 5px;
}

/* Animation and Gradient Effects */



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
    
  }
  100% {
    background-position: 0% 50%;

  }

}


@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

/* Animation for Navbar and Footer */



.navbar,
.footer {
  animation: fadeIn 1s ease-in-out;
  animation-fill-mode: forwards;
}

/* Navbar on Scroll */
.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050; /* Ensure this value is higher than other elements on your page */
}

.navbar-scrolled {
  opacity: 0.9;
}

/* Hover Effects */
.cards,
.search-button,
.social-links a,
.contact-item a,
.nav-link,
.footer-logo img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.cards:hover,
.search-button:hover,
.social-links a:hover,
.contact-item a:hover,
.nav-link:hover,
.footer-logo img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Hover Effects for Navbar */
.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f39c12;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Hover Effects for Footer */

.social-links a,
.contact-item a {
  position: relative;
}

.social-links a::before,
.contact-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f39c12;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.social-links a:hover::before,
.contact-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

